*{
  margin: 0;
  padding: 0;
  user-zoom: none;
  box-sizing: border-box;
  user-select: none;
  overflow-x: hidden;
  
}

/*--------------------------------*/
/*Codigo fonte*/

::-webkit-scrollbar { /*Pra não ter Scroll*/
    display: none;
}
.header{
    width: 100%;
    height: 3%;
    padding: 2%;
    background: cadetblue;
    display: flex;
    align-items: center;
}
#btnOpen {
  cursor: pointer;
  font-size: 1.4rem;
  padding: 10px;
}
/* logo */
.header .logo a img{
    width: 6rem;
}
.header .logo a{
    display: flex;
    align-items: center;
    color: white;
    font-weight: bolder;
    font-size: 1.2rem;
    text-decoration: none;
}

/* Barra de ferramentas */
.barraferramentas{
  background: teal;
  position: fixed;
  left: -240px;
  top: 0;
  width: 240px;
  height: 100%;
  transition: 0.4s ease;
}
.barraferramentas #perfil{
  width: 10rem;
}
.barraferramentas .perfil{
  display: flex;
  align-items: center;
  justify-content: center;
}
.barraferramentas ul{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}
.barraferramentas ul li{
  background: white;
  width: 80%;
  border-radius: 10px;
}
.barraferramentas ul li a{
  display: flex;
  text-decoration: none;
  color: black;
  font-size: 16px;
  padding: 20px 10px;
  align-items: center;
  gap: 5px;
}
.barraferramentas ul li a:hover{
  background: rgba(0, 0, 0, 0.3);
}
.barraferramentas #deslogar{
  font-size: 1.4rem;
  cursor: pointer;
  padding: 10px;
  margin: 10px;
  position: relative;
  top: 1rem;
}
.barraferramentas #btnClose{
    font-size: 1.6rem;
    cursor: pointer;
    padding: 10px;
    margin: 10px;
    position: relative;
}
#btnOpen:hover, #btnClose:hover{
    color: white;
}





/*-----------------page Home projetos*/

.main{
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding-top: 5rem;
}
.main ol li{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 10px;
}
.publicacoes{
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}
.texto{
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.projetos{
    background: white;
    border: 0.2px solid transparent;
}
.projetos:hover{
    border: 0.2px solid black;
}
.projetos img {
    max-width: 500px;
    max-height: 500px;
    object-fit: cover;
}
.projetos p{
    padding-left: 10px;
    padding-bottom: 10px;
}
.projetos p:nth-child(2){
    font-size: 30px;
}

/* Comentario do estagio */
.estagio{
    width: 30rem;
    height: 18rem;
    background: rgba(211, 210, 210, 0.836);
    display: flex;
    flex-direction: column;
}
.tituloPost{
    padding: 2%;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.tituloPost h2{
    display: flex;
    max-width: 400px;
    flex-wrap: wrap;
}
.textoEstagio p{
    padding: 2%;
    text-align: justify;
}


.post{
    width: 30rem;
    height: 10rem;
    background: black;
}

.main img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

/* area de texto */
.editorTexto{
    width: 30rem;
    background: rgba(135, 207, 235, 0.144);
    padding: 10px;
    gap: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.editorTexto p{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#postagem{
    width: 100%;
    height: 7rem;
    resize: none;
    background: rgba(141, 236, 227, 0.267);
}


/* noticias */
.mainNoticias{
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
}

hr{
    width: 50rem;
}

.postagens{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.projeto{
    display: flex;
    padding: 2%;
    width: 100%;
    align-items: center;
}

.projeto img{
    width: 10rem;
    height: 10rem;
}
/* footer */
footer{
    width: 100%;
    height: 120px;
    margin-top: 30px;
    background: gray;
}





/*-----------------Adicionar projetos*/
.addDados{
  width: 60%;
  border-radius: 20px;
  background: white;
  padding: 2%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  border: 3px solid black;
}
.addDados h2{
  padding: 2%;
}
.addDados form{
  width: 100%;
  height: 100%;
}
.dadosPrincipais{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 100%;
}
.descrisaoProjeto, #textProjeto{
  width: 100%;
}
.addDados form input{
 width: 200px;
 
}

.addDados form label img{
  width: 10rem;
  height: 10rem;
  object-fit: cover;
  border: 0.3px solid black;
}

.addDados form input[type='file']{
  display: none;
}

.ProjetoAdd{
  display: flex;
  flex-direction: column;
  align-items: center;
}


.ProjetoAdd{
    background: white;
    border: 0.2px solid transparent;
}
.ProjetoAdd:hover{
    border: 0.2px solid black;
}
.ProjetoAdd img {
    max-width: 500px;
    max-height: 500px;
    object-fit: cover;
}
.ProjetoAdd p{
    padding-left: 10px;
    padding-bottom: 10px;
}

@media (max-width: 800px) {

.postagens{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
hr{
    width: 30rem;
}

.ProjetoAdd{
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.projetos{
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.projeto img{
    width: 6rem;
    height: 6rem;
}
.projetos img{
   width: 350px;
   height: 350px;
}

}

/*---------------------Loading*/
.addProjeto{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    display: none;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.3);
  }

/*Loading*/
.loading{
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.carrega{
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid teal; /* Blue */
  border-radius: 50%;
  width: 80px;
  height: 80px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

form button {
  background: teal;
  color: white;
  height: 40px;
  width: 200px;
  border-radius: 20px;
  border: transparent;
  text-transform: uppercase;
  font-size: 1.2rem;
}